.blokec1{
    width: 100%;
    border: 1px solid black;
}
.blokec2{
    display: flex;
    border: 1px solid black;
}
.levidiv{
    width: 200px;
    border: 1px solid black;
}
.desnidiv{
    width: 100%;
    border: 1px solid black;
}
.blokec3{
    width: 100%;
    border: 1px solid black;
}